{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <h1>Mon panier</h1>

{% if panier and panier.panierProduits|length > 0 %}
    {% for ligne in panier.panierProduits %}
        <div>
            {{ ligne.produit.nom }} -
            Quantité : {{ ligne.quantite }}
        </div>
    {% endfor %}
{% else %}
    <p>Votre panier est vide</p>
{% endif %}

    <a href="{{ path('app_panier_new') }}">Create new</a>
{% endblock %}
