{% extends 'base.html.twig' %}

{% block title %}Edit CommandeProduit{% endblock %}

{% block body %}
    <h1>Edit CommandeProduit</h1>

    {{ include('commande_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commande_produit_index') }}">back to list</a>

    {{ include('commande_produit/_delete_form.html.twig') }}
{% endblock %}
