{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<h1>Boutique en ligne RG Fight Academy</h1>

<div class="produits">
    {% for produit in produits %}
        <div class="card">
            <h3>{{ produit.nom }}</h3>
            <p>Prix : {{ produit.prix }} €</p>
            <a href="{{ path('app_produit_show', {'id': produit.id}) }}">
                Voir le produit
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
