{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section class="about">
		<h2>Qui sommes-nous ?</h2>

		<p>
			RG Fight Academy est un projet associatif dédié à l’enseignement du Jiu-Jitsu Brésilien.
		</p>

		<p>
			Notre mission est d’offrir un cadre structuré, sécurisé et bienveillant, accessible dès l’âge de 3 ans.
									        À travers la pratique du Jiu-Jitsu Brésilien, nous accompagnons chaque élève dans le développement de la confiance en soi,
									        de la discipline et du respect.
		</p>

		<p>
			L’académie s’engage également à contribuer activement à la vie locale et à promouvoir une éducation sportive
									        fondée sur la sécurité, la pédagogie et des valeurs éducatives fortes.
		</p>
	</section>


	<section class="about-card">
		<p class="about-title">Prêt à Commencer Votre Voyage?</p>

		<p>
			Rejoignez-nous pour un cours d'essai gratuit et découvrez pourquoi le Jiu-Jitsu Brésilien
									        est l'un des arts martiaux les plus efficaces au monde.
		</p>

		<div class="about-buttons">
			<a href="#planning" class="btn-dark">Réservez un Cours d'essai</a>
			<a href="/contact" class="btn-dark">Nous Contacter</a>
		</div>
	</section>


	<hr class="separator">


	<section class="about-planning" id="planning">
		<h2>Notre Planning</h2>
		<p>Pour réservez votre cours, cliquez sur le cours qui vous interesse !</p>
		<br>
		<div id="calendar-holder"></div>


	</section>


	<hr class="separator">


	<section class="about-dojo">
		<h2>Notre Dojo</h2>
		<p>Salle des Glycines
			<br>
			37 place Jean Moulin
			<br>
			38280 Janneyrias
			<br>
		</p>
		<br>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.9799103234359!2d5.109814269613319!3d45.752756933956555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c99e3137294b%3A0x9f28b11533cba1a4!2s37%20Pl.%20Jean%20Moulin%2C%2038280%20Janneyrias!5e0!3m2!1sfr!2sfr!4v1776023039669!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/locales/fr.global.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
new FullCalendar.Calendar(document.getElementById('calendar-holder'), {
initialView: window.innerWidth < 768 ? 'listWeek' : 'timeGridWeek',
locale: 'fr',
timeZone: 'Europe/Paris',
weekends: false,
dayHeaderFormat: {
weekday: 'long'
},
headerToolbar: {
left: '',
center: 'title',
right: ''
},
height: 'auto',
allDaySlot: false,
slotMinTime: '12:00:00',
slotMaxTime: '21:00:00',
expandRows: true,
eventSources: [
{
url: '/fc-load-events',
method: 'POST',
extraParams: {
filters: JSON.stringify({})
}
}
],
eventClick: function (info) {
info.jsEvent.preventDefault();{% if app.user %}if (confirm("Confirmer la réservation : " + info.event.title + " le " + info.event.start.toLocaleDateString('fr-FR') + " à " + info.event.start.toLocaleTimeString('fr-FR', {
hour: '2-digit',
minute: '2-digit'
}) + " ?")) {
window.location.href = info.event.url;
}
{% else %}
window.location.href = '{{ path("app_login") }}';{% endif %}
}
}).render();
});
	</script>
{% endblock %}
