{% extends 'base.html.twig' %}

{% block title %}Tarifs
{% endblock %}

{% block body %}


	<h1>Nos Tarifs</h1>

	<section class="tarif">
	<div class="tarif-card">
	<p>🐣 Baby’s (3 – 6 ans)</p>
	<p>200 € (1 cours par semaine)</p>
	</div>
	</section>

	<section class="tarif">
	<div class="tarif-card">
	<p>🥋 Kid’s (6 – 9 ans)</p>
	<p>280 € (2 cours par semaine)</p>
	</div>
	</section>

	<section class="tarif"> 
	<div class="tarif-card">
	<p>🔥 Ado (9 – 13 ans)</p>
	<p>280 € (2 cours par semaine)</p>
	</div>
	</section>

	<section class="tarif">
	<div class="tarif-card">
	<p>💪 Adultes</p>
	<p>350 € (4 cours par semaine)</p>
	</div>
	</section>

	<section class="tarif">
	<div class="tarif-card">
	<p>🏋️ Préparation Physique</p>
	<p>350 € (4 cours par semaine)</p>
	</div>
	</section>
{% endblock %}