@use '../components/base' as *;


.logo-footer {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: black;

    p {
        color: #FFF;
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}